* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: 100;
}

input,
button,
select {
    outline: none;
    border: none;
    background: none;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}