@charset "UTF-8";
.container {
  margin: 0 auto;
}

html,
body,
input,
button {
  font-family: "Roboto Slab", sans-serif;
}

.wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.a-start {
  align-items: flex-start;
}

.a-end {
  align-items: flex-end;
}

.a-center {
  align-items: center;
}

.j-start {
  justify-content: flex-start;
}

.j-end {
  justify-content: flex-end;
}

.j-center {
  justify-content: center;
}

.j-between {
  justify-content: space-between;
}

.f-column {
  flex-direction: column;
}

.t-right {
  text-align: right;
}

.t-center {
  text-align: center;
}

.h-100 {
  height: 100vh;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1100px;
}

.header {
  padding: 20px 0;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.header a {
  color: white;
}
.header .container {
  max-width: 1100px;
}
.header .container .logo a .logo-icon {
  color: #FE79A2;
  font-size: 25px;
  margin-top: 8px;
  margin-right: 5px;
}
.header .container .logo a .logo-title {
  font-size: 24px;
}
.header .container .logo a .logo-subtitle {
  font-size: 12px;
}
.header .container nav ul li {
  opacity: 0.8;
  margin-left: 20px;
}
.header .container nav ul li:hover {
  opacity: 1;
  transition: 0.2s;
}
.header .container .header-right li {
  color: white;
  margin-left: 15px;
}
.header .container .header-right li a {
  opacity: 0.8;
}
.header .container .header-right li a:hover {
  opacity: 1;
  transition: 0.2s;
}

.top-banner {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url(../images/banner4.jpg) no-repeat top center/cover;
}
.top-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  opacity: 0.9;
}
.top-banner header .header {
  padding: 20px 0;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.top-banner header .header a {
  color: white;
}
.top-banner header .header .container .logo a .logo-icon {
  color: #FE79A2;
  font-size: 25px;
  margin-top: 8px;
  margin-right: 5px;
}
.top-banner header .header .container .logo a .logo-title {
  font-size: 24px;
}
.top-banner header .header .container .logo a .logo-subtitle {
  font-size: 12px;
}
.top-banner header .header .container nav ul li {
  opacity: 0.8;
  margin-left: 20px;
}
.top-banner header .header .container nav ul li:hover {
  opacity: 1;
  transition: 0.2s;
}
.top-banner header .header .container .header-right li {
  color: white;
  margin-left: 15px;
}
.top-banner header .header .container .header-right li a {
  opacity: 0.8;
}
.top-banner header .header .container .header-right li a:hover {
  opacity: 1;
  transition: 0.2s;
}
.top-banner .content {
  flex-grow: 1;
  color: white;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top-banner .content h2 {
  font-size: 60px;
  width: 800px;
  text-align: center;
}
.top-banner .content p {
  color: white;
  margin: 30px 0;
}
.top-banner .content .clipPath {
  position: absolute;
  z-index: 1;
  bottom: -50px;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 150px;
  vertical-align: middle;
}
.top-banner .content .clipPath svg {
  width: 100%;
  height: 100%;
}
.top-banner .content .clipPath svg path {
  fill: #f7f7f7;
}

p {
  color: #666;
}

a.btn {
  color: white;
  font-weight: bold;
  padding: 20px 50px;
  background: #FE79A2;
  border-radius: 50px;
  display: inline-block;
}
a.btn:hover {
  background-color: #e45589;
  transition: 0.5s;
}

h3.title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #adadad;
  text-align: center;
}

h2.title {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  color: #3f3a64;
  margin: 15px 0px 40px 0px;
}

.courses {
  background: #f7f7f7;
  padding: 50px 0px;
}
.courses .container .course-list .item {
  background: white;
  width: 32%;
}
.courses .container .course-list .item:hover .item-image img {
  transform: scale(1.3);
}
.courses .container .course-list .item-image {
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  height: 235px;
}
.courses .container .course-list .item-image img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: 0.4s;
}
.courses .container .course-list .item-image .item-level {
  background: #7f87de;
  color: white;
  font-size: 14px;
  padding: 4px 16px;
  display: inline-block;
  border-radius: 50px;
  position: absolute;
  top: 18px;
  left: 8px;
}
.courses .container .course-list .item-image .item-status {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  padding: 7px 15px;
}
.courses .container .course-list .item-image .item-status::after {
  content: "";
  position: absolute;
  border-width: 16px 8px;
  border-style: solid;
  border-color: red transparent red transparent;
  left: 0;
  top: 0;
  transform: translateX(-50%);
}
.courses .container .course-list .item-image .item-status.bg-pink {
  background-color: #ff4f8f;
}
.courses .container .course-list .item-image .item-status.bg-pink::after {
  border-color: #ff4f8f transparent #ff4f8f transparent;
}
.courses .container .course-list .item-body {
  border-bottom: 1px solid rgba(126, 125, 125, 0.2);
  padding: 30px;
}
.courses .container .course-list .item-body .item-price {
  color: #FE79A2;
  font-size: 20px;
}
.courses .container .course-list .item-body .item-icon li {
  margin-left: 5px;
}
.courses .container .course-list .item-body .item-icon li i {
  color: #7f87de;
  font-size: 12px;
}
.courses .container .course-list .item-body .item-title {
  margin: 15px 0px;
}
.courses .container .course-list .item-body .item-title a {
  color: #333;
  font-size: 20px;
  transition: 0.4s;
}
.courses .container .course-list .item-body .item-title a:hover {
  color: #7f87de;
}
.courses .container .course-list .item-body .item-time {
  color: #666;
  margin-right: 20px;
}
.courses .container .course-list .item-body .item-time i {
  margin-right: 5px;
}
.courses .container .course-list .item-body .item-user {
  color: #666;
}
.courses .container .course-list .item-body .item-user i {
  margin-right: 5px;
}
.courses .container .course-list .item-footer {
  padding: 20px;
}
.courses .container .course-list .item-footer .avatar {
  margin-right: 10px;
}
.courses .container .course-list .item-footer .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.courses .container .course-list .item-footer p {
  font-size: 13px;
  color: #7e7d7d;
}
.courses .container .course-list .item-footer p a {
  margin: 0 4px;
  font-weight: bold;
  font-size: 19px;
  color: #333;
}
.courses .container .course-list .item-footer p a:hover {
  color: #7f87de;
}
.courses .container .view-all-course {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  color: #666;
}
.courses .container .view-all-course a {
  color: #666;
}
.courses .container .view-all-course .highlight {
  font-size: 18px;
  color: #FE79A2;
  font-weight: bold;
}
.courses .container .view-all-course .highlight:hover {
  color: #d66486;
}

.facilities {
  background: #f8f9fa;
  padding: 40px 0px;
}
.facilities .container {
  overflow: hidden;
}
.facilities .container .left {
  width: 50%;
  padding-right: 30px;
}
.facilities .container .left h3 {
  text-align: left;
}
.facilities .container .left h2 {
  text-align: left;
}
.facilities .container .left h2 a {
  color: #3f3a64;
}
.facilities .container .left p {
  margin-bottom: 20px;
}
.facilities .container .right {
  width: 50%;
}
.facilities .container .right .row {
  flex-wrap: wrap;
  margin: 0px -10px;
}
.facilities .container .right .card {
  padding: 10px;
  width: 50%;
}
.facilities .container .right .card .content {
  background: white;
  border-radius: 10px;
  padding: 20px 20px 60px 20px;
  transition: 0.4s;
}
.facilities .container .right .card .content:hover {
  box-shadow: 0px 0px 10px 5px rgba(51, 51, 51, 0.1);
}
.facilities .container .right .card .content i {
  color: #FE79A2;
  font-size: 24px;
}
.facilities .container .right .card .content h2 {
  font-size: 18px;
  margin: 20px 0px;
}
.facilities .container .right .card .content h2 a {
  color: #333;
}
.facilities .container .right .card .content h2 a:hover {
  color: #FE79A2;
}
.facilities .container .right .card .content h2:hover {
  color: #FE79A2;
}

.news {
  padding: 48px 0;
}
.news .container {
  overflow: hidden;
  padding: 48px 0;
}
.news .container h2,
.news .container h3 {
  text-align: center;
}
.news .container .news-feed {
  margin: 0 -15px;
}
.news .container .news-feed .box {
  max-width: 50%;
  padding: 0 15px;
}
.news .container .news-feed .box .card {
  position: relative;
  z-index: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 650px;
  padding: 20px;
  transition: 0.3s;
  color: #fff;
  border-radius: 6px;
  background: url(../images/pic1.jpg) no-repeat top left/cover;
  justify-content: flex-end;
}
.news .container .news-feed .box .card:hover {
  transform: translateY(-0.25rem);
  box-shadow: #2e2933 0 2px 4px, #473f4f 0 5px 10px;
}
.news .container .news-feed .box .card.right {
  padding: 15px;
  height: 312px;
}
.news .container .news-feed .box .card.bg1 {
  margin-bottom: 25px;
  background: url(../images/pic2.jpg) no-repeat top left/cover;
}
.news .container .news-feed .box .card.bg2 {
  background: url(../images/pic3.jpg) no-repeat top left/cover;
}
.news .container .news-feed .box .card a {
  color: white;
}
.news .container .news-feed .box .card::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.6;
  border-radius: var(--border-radius);
  background: #000;
}
.news .container .news-feed .box .card .content {
  padding: 20px;
}
.news .container .news-feed .box .card .content > a {
  font-size: 24px;
  font-weight: 700;
  display: block;
  margin: 16px 0;
}
.news .container .news-feed .box .card .content .info img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}
.news .container .news-feed .box .card .content .info a {
  font-size: 18px;
  font-weight: 600;
  margin-right: 10px;
}
.news .container .news-feed .box .card .content .info p,
.news .container .news-feed .box .card .content .info time {
  font-size: 16px;
  margin-right: 20px;
  color: #fff;
}
.news .container .news-footer {
  margin-top: 48px;
  text-align: center;
}
.news .container .news-footer a {
  font-size: 20px;
  font-weight: bold;
  color: #FE79A2;
}
.news .container .news-footer .view-all:hover {
  color: #d15077;
}
.news .container .news-footer .view-all-i {
  color: #fe79a2;
}

.start {
  position: relative;
  z-index: 0;
  padding: 120px 0;
  background: url(../images/banner1.jpg) no-repeat center/cover;
  background-attachment: fixed;
}
.start::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.8;
  background-image: linear-gradient(148.25deg, #a253d8 3%, #1545cb 89.85%);
}
.start .container {
  text-align: center;
}
.start .container .big-title {
  font-size: 45px;
  width: 900px;
  margin: 0 auto;
  color: white;
  margin-bottom: 25px;
}
.start .container .small-title {
  color: #c9c9c9;
}
.start .container .btn.started {
  margin-right: 8px;
  transition: 0.3s;
  border: 1px #fff solid;
  background-color: transparent;
}
.start .container .btn.started:hover {
  color: black;
  background-color: white;
}

.text {
  max-width: 45%;
  padding: 0 15px;
}
.text h3 {
  text-align: left;
}
.text h2 {
  margin-top: 0;
  text-align: left;
}
.text .more {
  line-height: 30px;
}
.text .more p {
  margin-bottom: 16px;
}
.text .btn {
  margin-top: 20px;
}

.faculty {
  padding: 100px 0;
  background-color: white;
}
.faculty .container {
  overflow: hidden;
}
.faculty .container .teachers {
  overflow: hidden;
  margin-right: -15px;
  flex-grow: 1;
}
.faculty .container .teachers-list {
  flex-wrap: wrap;
}
.faculty .container .teachers-list .card {
  max-width: 50%;
  padding: 0 15px;
}
.faculty .container .teachers-list .card .content {
  position: relative;
  z-index: 0;
}
.faculty .container .teachers-list .card .content:hover .infomation .general {
  transform: translateY(10%);
}
.faculty .container .teachers-list .card .content:hover .infomation .social {
  transform: rotateX(0) rotateY(0) rotateZ(0);
  opacity: 1;
}
.faculty .container .teachers-list .card .content:hover::before {
  background-color: rgba(0, 0, 0, 0.45);
}
.faculty .container .teachers-list .card .content img {
  border-radius: 8px;
  position: relative;
  z-index: -2;
}
.faculty .container .teachers-list .card .content::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 98.5%;
  content: "";
  transition: 0.6s;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);
}
.faculty .container .teachers-list .card .content .infomation {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}
.faculty .container .teachers-list .card .content .infomation a {
  color: white;
}
.faculty .container .teachers-list .card .content .infomation .general {
  transition: 0.6s;
  transform: translateY(150px);
}
.faculty .container .teachers-list .card .content .infomation .general a {
  font-size: 25px;
  font-weight: bold;
}
.faculty .container .teachers-list .card .content .infomation .general p {
  font-size: 16px;
  font-weight: 600;
  display: block;
  padding: 0 0 8px 0;
  opacity: 0.8;
  color: white;
}
.faculty .container .teachers-list .card .content .infomation .social {
  position: relative;
  margin: 40px 0 20px;
  transition: 0.8s;
  transform: perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);
  opacity: 0;
}
.faculty .container .teachers-list .card .content .infomation .social::before {
  position: absolute;
  top: -20px;
  right: 0;
  left: 0;
  width: 50px;
  height: 2px;
  margin: 0 auto;
  content: "";
  background: white;
}
.faculty .container .teachers-list .card .content .infomation .social a {
  font-size: 20px;
  line-height: 40px;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
}
.faculty .container .teachers-list .card .content .infomation .social a.facebook {
  margin-right: 10px;
  background-color: #3b5998;
}
.faculty .container .teachers-list .card .content .infomation .social a.twitter {
  background-color: #1da1f2;
}

.bot {
  margin-top: 24px;
}

.feedback {
  padding: 96px 0;
  background-color: #f7f7f7;
}
.feedback .container .feedback-list .card {
  width: 32%;
  padding: 40px 30px;
  background-color: white;
}
.feedback .container .feedback-list .card blockquote {
  text-align: center;
  margin-bottom: 24px;
}
.feedback .container .feedback-list .card blockquote q {
  font-size: 18px;
  line-height: 28px;
  opacity: 0.8;
  color: #666;
}
.feedback .container .feedback-list .card blockquote q::before {
  font-family: "Judson", serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 0.8;
  display: inline-block;
  padding-top: 8px;
  content: "“";
  color: #fe79a2;
}
.feedback .container .feedback-list .card blockquote q::after {
  content: "”";
}
.feedback .container .feedback-list .card .client img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border-radius: 50%;
}
.feedback .container .feedback-list .card .client-info h3 {
  font-size: 20px;
  color: #3f3a64;
}
.feedback .container .button-list {
  margin-top: 30px;
}
.feedback .container .button-list button {
  padding: 1px 6px;
  cursor: pointer;
}
.feedback .container .button-list button:hover span {
  opacity: 1;
}
.feedback .container .button-list button span {
  display: inline-block;
  width: 10px;
  height: 8px;
  margin: 5px 2px;
  transition: 0.4s;
  opacity: 0.5;
  border-radius: 8px;
  background-color: #1545cb;
}
.feedback .container .button-list button span.active {
  width: 25px;
  opacity: 1;
}

.sponsor {
  padding: 70px 0;
}
.sponsor .container .item {
  max-width: 30%;
  padding: 0 15px;
}
.sponsor .container .item img {
  padding: 0 18px;
  transition: 0.1s;
  opacity: 0.4;
}
.sponsor .container .item img:hover {
  opacity: 1;
}

footer {
  background: #26243c;
}
footer a,
footer p {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
}
footer a {
  transition: 0.1s;
}
footer a:hover {
  color: white;
}
footer .bot-footer {
  padding: 24px 0;
  text-align: center;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}
footer .bot-footer a {
  color: #fe79a2;
}
footer .bot-footer a:hover {
  color: white;
}
footer .top-footer {
  padding: 72px 0;
  background: #26243c;
}
footer .top-footer .container h6 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  position: relative;
  margin-bottom: 25px;
  color: white;
}
footer .top-footer .container a,
footer .top-footer .container p {
  display: inline-block;
  margin-bottom: 10px;
}
footer .top-footer .container .flex-5 {
  padding-right: 40px;
  flex: 5;
}
footer .top-footer .container .flex-5 a {
  margin-bottom: 0;
}
footer .top-footer .container .flex-5 p {
  margin-bottom: 8px;
}
footer .top-footer .container .flex-2 {
  padding: 0 15px;
  flex: 2;
}
footer .top-footer .container .flex-3 {
  padding: 0 20px;
  flex: 3;
}
footer .top-footer .container .social {
  margin-top: 16px;
}
footer .top-footer .container .social a {
  font-size: 20px;
  margin-right: 15px;
}

#toggleBtn {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: #888;
  box-shadow: rgba(100, 100, 110, 0.2) 0px 8px 28px 0px;
  position: fixed;
  left: 50px;
  bottom: 50px;
  z-index: 5;
}
#toggleBtn::before {
  content: "";
  position: absolute;
  left: 2px;
  bottom: 2px;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.35s;
}

#toggleBtn.active::before {
  transform: translateX(40px);
}

.darkmode-active .top-banner {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url(../images/banner4.jpg) no-repeat top center/cover;
}
.darkmode-active .top-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#7d7d7d 100%);
  opacity: 0.9;
}
.darkmode-active .top-banner header .header {
  padding: 20px 0;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.darkmode-active .top-banner header .header a {
  color: white;
}
.darkmode-active .top-banner header .header .container .logo a .logo-icon {
  color: #FE79A2;
  font-size: 25px;
  margin-top: 8px;
  margin-right: 5px;
}
.darkmode-active .top-banner header .header .container .logo a .logo-title {
  font-size: 24px;
}
.darkmode-active .top-banner header .header .container .logo a .logo-subtitle {
  font-size: 12px;
}
.darkmode-active .top-banner header .header .container nav ul li {
  opacity: 0.8;
  margin-left: 20px;
}
.darkmode-active .top-banner header .header .container nav ul li:hover {
  opacity: 1;
  transition: 0.2s;
}
.darkmode-active .top-banner header .header .container .header-right li {
  color: white;
  margin-left: 15px;
}
.darkmode-active .top-banner header .header .container .header-right li a {
  opacity: 0.8;
}
.darkmode-active .top-banner header .header .container .header-right li a:hover {
  opacity: 1;
  transition: 0.2s;
}
.darkmode-active .top-banner .content {
  flex-grow: 1;
  color: white;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.darkmode-active .top-banner .content h2 {
  font-size: 60px;
  width: 800px;
  text-align: center;
}
.darkmode-active .top-banner .content p {
  color: white;
  margin: 30px 0;
}
.darkmode-active .top-banner .content .clipPath {
  position: absolute;
  z-index: 1;
  bottom: -50px;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 150px;
  vertical-align: middle;
}
.darkmode-active .top-banner .content .clipPath svg {
  width: 100%;
  height: 100%;
}
.darkmode-active .top-banner .content .clipPath svg path {
  fill: #26243c;
}
.darkmode-active p {
  color: #fff;
}
.darkmode-active a.btn {
  color: white;
  font-weight: bold;
  padding: 20px 50px;
  background: #FE79A2;
  border-radius: 50px;
  display: inline-block;
}
.darkmode-active a.btn:hover {
  background-color: #e45589;
  transition: 0.5s;
}
.darkmode-active h3.title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #7e7d7d;
  text-align: center;
}
.darkmode-active h2.title {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  color: #fff;
  margin: 15px 0px 40px 0px;
}
.darkmode-active .courses {
  background-color: #26243c;
  padding: 50px 0px;
}
.darkmode-active .courses .container .course-list .item {
  background-color: #26243c;
  border: 1px solid #7e7d7d;
  border-radius: 5px;
  width: 32%;
}
.darkmode-active .courses .container .course-list .item:hover .item-image img {
  transform: scale(1.3);
}
.darkmode-active .courses .container .course-list .item-image {
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  height: 235px;
}
.darkmode-active .courses .container .course-list .item-image img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: 0.4s;
}
.darkmode-active .courses .container .course-list .item-image .item-level {
  background: #7f87de;
  color: white;
  font-size: 14px;
  padding: 4px 16px;
  display: inline-block;
  border-radius: 50px;
  position: absolute;
  top: 18px;
  left: 8px;
}
.darkmode-active .courses .container .course-list .item-image .item-status {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  padding: 7px 15px;
}
.darkmode-active .courses .container .course-list .item-image .item-status::after {
  content: "";
  position: absolute;
  border-width: 16px 8px;
  border-style: solid;
  border-color: red transparent red transparent;
  left: 0;
  top: 0;
  transform: translateX(-50%);
}
.darkmode-active .courses .container .course-list .item-image .item-status.bg-pink {
  background-color: #ff4f8f;
}
.darkmode-active .courses .container .course-list .item-image .item-status.bg-pink::after {
  border-color: #ff4f8f transparent #ff4f8f transparent;
}
.darkmode-active .courses .container .course-list .item-body {
  border-bottom: 1px solid rgba(126, 125, 125, 0.2);
  padding: 30px;
}
.darkmode-active .courses .container .course-list .item-body .item-price {
  color: #FE79A2;
  font-size: 20px;
}
.darkmode-active .courses .container .course-list .item-body .item-icon li {
  margin-left: 5px;
}
.darkmode-active .courses .container .course-list .item-body .item-icon li i {
  color: #1545CB;
  font-size: 12px;
}
.darkmode-active .courses .container .course-list .item-body .item-title {
  margin: 15px 0px;
}
.darkmode-active .courses .container .course-list .item-body .item-title a {
  color: #fff;
  font-size: 20px;
  transition: 0.4s;
}
.darkmode-active .courses .container .course-list .item-body .item-title a:hover {
  color: #1545CB;
}
.darkmode-active .courses .container .course-list .item-body .item-time {
  color: #c9c9c9;
  margin-right: 20px;
}
.darkmode-active .courses .container .course-list .item-body .item-time i {
  margin-right: 5px;
}
.darkmode-active .courses .container .course-list .item-body .item-user {
  color: #c9c9c9;
}
.darkmode-active .courses .container .course-list .item-body .item-user i {
  margin-right: 5px;
}
.darkmode-active .courses .container .course-list .item-footer {
  padding: 20px;
}
.darkmode-active .courses .container .course-list .item-footer .avatar {
  margin-right: 10px;
}
.darkmode-active .courses .container .course-list .item-footer .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.darkmode-active .courses .container .course-list .item-footer p {
  font-size: 13px;
  color: #c9c9c9;
  font-weight: bold;
}
.darkmode-active .courses .container .course-list .item-footer p a {
  margin: 0 4px;
  font-weight: bold;
  font-size: 19px;
  color: #fff;
}
.darkmode-active .courses .container .course-list .item-footer p a:hover {
  color: #1545CB;
}
.darkmode-active .courses .container .view-all-course {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  color: #c9c9c9;
}
.darkmode-active .courses .container .view-all-course a {
  color: #fff;
}
.darkmode-active .courses .container .view-all-course .highlight {
  font-size: 18px;
  color: #FE79A2;
  font-weight: bold;
}
.darkmode-active .courses .container .view-all-course .highlight:hover {
  color: #d66486;
}
.darkmode-active .facilities {
  background-color: #1e1b32;
  padding: 40px 0px;
}
.darkmode-active .facilities .container {
  overflow: visible;
}
.darkmode-active .facilities .container .left {
  width: 50%;
  padding-right: 30px;
}
.darkmode-active .facilities .container .left h3 {
  text-align: left;
}
.darkmode-active .facilities .container .left h2 {
  text-align: left;
}
.darkmode-active .facilities .container .left h2 a {
  color: #fff;
  font-weight: bold;
}
.darkmode-active .facilities .container .left p {
  margin-bottom: 20px;
  line-height: 25px;
  font-weight: bold;
  color: #7e7d7d;
}
.darkmode-active .facilities .container .right {
  width: 50%;
}
.darkmode-active .facilities .container .right .row {
  flex-wrap: wrap;
  margin: 0px -10px;
}
.darkmode-active .facilities .container .right .card {
  padding: 10px;
  width: 50%;
}
.darkmode-active .facilities .container .right .card .content {
  border: 1px solid #7e7d7d;
  background-color: #26243c;
  border-radius: 10px;
  padding: 20px 20px 60px 20px;
  transition: 0.4s;
}
.darkmode-active .facilities .container .right .card .content:hover {
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.2);
}
.darkmode-active .facilities .container .right .card .content i {
  color: #FE79A2;
  font-size: 24px;
}
.darkmode-active .facilities .container .right .card .content h2 {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin: 20px 0px;
}
.darkmode-active .facilities .container .right .card .content h2 a {
  color: #fff;
}
.darkmode-active .facilities .container .right .card .content h2 a:hover {
  color: #FE79A2;
}
.darkmode-active .facilities .container .right .card .content h2:hover {
  color: #FE79A2;
}
.darkmode-active .facilities .container .right .card .content p {
  color: #7e7d7d;
}
.darkmode-active .news {
  padding: 48px 0;
  background-color: #26243c;
}
.darkmode-active .news .container {
  overflow: hidden;
  padding: 48px 0;
}
.darkmode-active .news .container h3 {
  text-align: center;
  color: #7e7d7d;
}
.darkmode-active .news .container .news-feed {
  margin: 0 -15px;
}
.darkmode-active .news .container .news-feed .box {
  max-width: 50%;
  padding: 0 15px;
}
.darkmode-active .news .container .news-feed .box .card {
  position: relative;
  z-index: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 650px;
  padding: 20px;
  transition: 0.3s;
  color: #fff;
  border-radius: 6px;
  background: url(../images/pic1.jpg) no-repeat top left/cover;
  justify-content: flex-end;
}
.darkmode-active .news .container .news-feed .box .card:hover {
  transform: translateY(-0.25rem);
  box-shadow: #2e2933 0 2px 4px, #473f4f 0 5px 10px;
}
.darkmode-active .news .container .news-feed .box .card.right {
  padding: 15px;
  height: 312px;
}
.darkmode-active .news .container .news-feed .box .card.bg1 {
  margin-bottom: 25px;
  background: url(../images/pic2.jpg) no-repeat top left/cover;
}
.darkmode-active .news .container .news-feed .box .card.bg2 {
  background: url(../images/pic3.jpg) no-repeat top left/cover;
}
.darkmode-active .news .container .news-feed .box .card a {
  color: white;
}
.darkmode-active .news .container .news-feed .box .card::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.6;
  border-radius: var(--border-radius);
  background: #000;
}
.darkmode-active .news .container .news-feed .box .card .content {
  padding: 20px;
}
.darkmode-active .news .container .news-feed .box .card .content > a {
  font-size: 24px;
  font-weight: 700;
  display: block;
  margin: 16px 0;
}
.darkmode-active .news .container .news-feed .box .card .content .info img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}
.darkmode-active .news .container .news-feed .box .card .content .info a {
  font-size: 18px;
  font-weight: 600;
  margin-right: 10px;
}
.darkmode-active .news .container .news-feed .box .card .content .info p,
.darkmode-active .news .container .news-feed .box .card .content .info time {
  font-size: 16px;
  margin-right: 20px;
  color: #fff;
}
.darkmode-active .news .container .news-footer {
  margin-top: 48px;
  text-align: center;
}
.darkmode-active .news .container .news-footer a {
  font-size: 20px;
  font-weight: bold;
  color: #FE79A2;
}
.darkmode-active .news .container .news-footer .view-all:hover {
  color: #d15077;
}
.darkmode-active .news .container .news-footer .view-all-i {
  color: #fe79a2;
}
.darkmode-active .start {
  position: relative;
  z-index: 0;
  padding: 120px 0;
  background: url(../images/banner1.jpg) no-repeat center/cover;
  background-attachment: fixed;
}
.darkmode-active .start::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.8;
  background-image: linear-gradient(#7d7d7d 100%);
}
.darkmode-active .start .container {
  text-align: center;
}
.darkmode-active .start .container .big-title {
  font-size: 45px;
  width: 900px;
  margin: 0 auto;
  color: white;
  margin-bottom: 25px;
}
.darkmode-active .start .container .small-title {
  color: #c9c9c9;
}
.darkmode-active .start .container .btn.started {
  margin-right: 8px;
  transition: 0.3s;
  border: 1px #fff solid;
  background-color: transparent;
}
.darkmode-active .start .container .btn.started:hover {
  color: black;
  background-color: white;
}
.darkmode-active .text {
  max-width: 45%;
  padding: 0 15px;
}
.darkmode-active .text h3 {
  text-align: left;
}
.darkmode-active .text h2 {
  margin-top: 0;
  text-align: left;
}
.darkmode-active .text .more {
  line-height: 30px;
}
.darkmode-active .text .more p {
  margin-bottom: 16px;
}
.darkmode-active .text .btn {
  margin-top: 20px;
}
.darkmode-active .faculty {
  padding: 100px 0;
  background-color: #26243c;
}
.darkmode-active .faculty .container {
  overflow: hidden;
}
.darkmode-active .faculty .container .text h3 {
  color: #7e7d7d;
  font-weight: bold;
  line-height: 30px;
}
.darkmode-active .faculty .container .text h2 {
  color: #fff;
  font-weight: bold;
}
.darkmode-active .faculty .container .text .more p {
  color: #7e7d7d;
  font-weight: bold;
  line-height: 25px;
}
.darkmode-active .faculty .container .teachers {
  overflow: hidden;
  margin-right: -15px;
  flex-grow: 1;
}
.darkmode-active .faculty .container .teachers-list {
  flex-wrap: wrap;
}
.darkmode-active .faculty .container .teachers-list .card {
  max-width: 50%;
  padding: 0 15px;
}
.darkmode-active .faculty .container .teachers-list .card .content {
  position: relative;
  z-index: 0;
}
.darkmode-active .faculty .container .teachers-list .card .content:hover .infomation .general {
  transform: translateY(10%);
}
.darkmode-active .faculty .container .teachers-list .card .content:hover .infomation .social {
  transform: rotateX(0) rotateY(0) rotateZ(0);
  opacity: 1;
}
.darkmode-active .faculty .container .teachers-list .card .content:hover::before {
  background-color: rgba(0, 0, 0, 0.45);
}
.darkmode-active .faculty .container .teachers-list .card .content img {
  border-radius: 8px;
  position: relative;
  z-index: -2;
}
.darkmode-active .faculty .container .teachers-list .card .content::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 98.5%;
  content: "";
  transition: 0.6s;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);
}
.darkmode-active .faculty .container .teachers-list .card .content .infomation {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}
.darkmode-active .faculty .container .teachers-list .card .content .infomation a {
  color: white;
}
.darkmode-active .faculty .container .teachers-list .card .content .infomation .general {
  transition: 0.6s;
  transform: translateY(150px);
}
.darkmode-active .faculty .container .teachers-list .card .content .infomation .general a {
  font-size: 25px;
  font-weight: bold;
}
.darkmode-active .faculty .container .teachers-list .card .content .infomation .general p {
  font-size: 16px;
  font-weight: 600;
  display: block;
  padding: 0 0 8px 0;
  opacity: 0.8;
  color: white;
}
.darkmode-active .faculty .container .teachers-list .card .content .infomation .social {
  position: relative;
  margin: 40px 0 20px;
  transition: 0.8s;
  transform: perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);
  opacity: 0;
}
.darkmode-active .faculty .container .teachers-list .card .content .infomation .social::before {
  position: absolute;
  top: -20px;
  right: 0;
  left: 0;
  width: 50px;
  height: 2px;
  margin: 0 auto;
  content: "";
  background: white;
}
.darkmode-active .faculty .container .teachers-list .card .content .infomation .social a {
  font-size: 20px;
  line-height: 40px;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
}
.darkmode-active .faculty .container .teachers-list .card .content .infomation .social a.facebook {
  margin-right: 10px;
  background-color: #3b5998;
}
.darkmode-active .faculty .container .teachers-list .card .content .infomation .social a.twitter {
  background-color: #1da1f2;
}
.darkmode-active .bot {
  margin-top: 24px;
}
.darkmode-active .feedback {
  background-color: #1e1b32;
  padding: 96px 0;
}
.darkmode-active .feedback .container .feedback-list .card {
  width: 32%;
  padding: 40px 30px;
  background-color: #26243c;
  border-radius: 10px;
}
.darkmode-active .feedback .container .feedback-list .card blockquote {
  text-align: center;
  margin-bottom: 24px;
}
.darkmode-active .feedback .container .feedback-list .card blockquote q {
  font-size: 18px;
  line-height: 28px;
  opacity: 0.8;
  color: #fff;
}
.darkmode-active .feedback .container .feedback-list .card blockquote q::before {
  font-family: "Judson", serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 0.8;
  display: inline-block;
  padding-top: 8px;
  content: "“";
  color: #fe79a2;
}
.darkmode-active .feedback .container .feedback-list .card blockquote q::after {
  content: "”";
}
.darkmode-active .feedback .container .feedback-list .card .client img {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border-radius: 50%;
}
.darkmode-active .feedback .container .feedback-list .card .client-info h3 {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
.darkmode-active .feedback .container .feedback-list .card .client-info p {
  color: #7e7d7d;
}
.darkmode-active .feedback .container .button-list {
  margin-top: 30px;
}
.darkmode-active .feedback .container .button-list button {
  padding: 1px 6px;
  cursor: pointer;
}
.darkmode-active .feedback .container .button-list button:hover span {
  opacity: 1;
}
.darkmode-active .feedback .container .button-list button span {
  display: inline-block;
  width: 10px;
  height: 8px;
  margin: 5px 2px;
  transition: 0.4s;
  opacity: 0.5;
  border-radius: 8px;
  background-color: #1545CB;
}
.darkmode-active .feedback .container .button-list button span.active {
  width: 25px;
  opacity: 1;
}
.darkmode-active .sponsor {
  padding: 70px 0;
  background-color: #26243c;
}
.darkmode-active .sponsor .container .item {
  max-width: 30%;
  padding: 0 15px;
}
.darkmode-active .sponsor .container .item img {
  background-color: #fff;
  border-radius: 10px;
  padding: 0 18px;
  transition: 0.1s;
  opacity: 0.4;
}
.darkmode-active .sponsor .container .item img:hover {
  opacity: 1;
}
.darkmode-active footer {
  background-color: #26243c;
}
.darkmode-active footer a,
.darkmode-active footer p {
  font-size: 18px;
  line-height: 28px;
  color: #7e7d7d;
}
.darkmode-active footer a {
  transition: 0.1s;
}
.darkmode-active footer a:hover {
  color: white;
}
.darkmode-active footer .bot-footer {
  padding: 24px 0;
  text-align: center;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
  background-color: #26243c;
}
.darkmode-active footer .bot-footer a {
  color: #fe79a2;
}
.darkmode-active footer .bot-footer a:hover {
  color: white;
}
.darkmode-active footer .top-footer {
  padding: 72px 0;
  background: #26243c;
  border-top: 0.5px solid #7e7d7d;
  border-bottom: 0.5px solid #7e7d7d;
}
.darkmode-active footer .top-footer .container h6 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  position: relative;
  margin-bottom: 25px;
  color: #fff;
}
.darkmode-active footer .top-footer .container a,
.darkmode-active footer .top-footer .container p {
  display: inline-block;
  margin-bottom: 10px;
}
.darkmode-active footer .top-footer .container .flex-5 {
  padding-right: 40px;
  flex: 5;
}
.darkmode-active footer .top-footer .container .flex-5 a {
  margin-bottom: 0;
}
.darkmode-active footer .top-footer .container .flex-5 p {
  margin-bottom: 8px;
}
.darkmode-active footer .top-footer .container .flex-2 {
  padding: 0 15px;
  flex: 2;
}
.darkmode-active footer .top-footer .container .flex-3 {
  padding: 0 20px;
  flex: 3;
}
.darkmode-active footer .top-footer .container .social {
  margin-top: 16px;
}
.darkmode-active footer .top-footer .container .social a {
  font-size: 20px;
  margin-right: 15px;
}